<header class="header">
  <div>
    <span class="login">
      <% if(username.length !== 0){%>
        <p>Welcome:, <%=username%></p>
      <%}else{%>
        <p>Not Logged in yet!</p>
      <%}%>
    </div>
    <img class="logo" src= "/images/uncc.png" alt="NINER WHOLESALE STORE">
  	<span class="heading">NINER's Food Reviews</span>
</header>
