      <div class="vertic bar">
    <ul>
        <li><a href="/">Home </a></li>
        <li><a href="/catalog">Categories </a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
    </ul>
</div>
