<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Niner Foodsite</title>
   <link rel="icon" type="image/png" href="/images/backg.png" />
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <body>
    <h1>OOps....sorry page not found</h1>
  </body>
</html>
