<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Niner Foodsite</title>
   <link rel="icon" type="image/png" href="/images/backg.png" />
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <body>

    <% include partials/header%>

    <% include partials/user-navigation%>

    <div class="horiz">
   <% include partials/site-navigation.ejs %>
   <div class="vertic content">
       <h5>About the application:</h5>
       <h5>This application  is about details of the food items. In This web application we can find the details of few food varieties and from where we can even give our feedback </h5>
       </div>
     </div>
     <% include partials/footer.ejs %>

  </body>
</html>
