<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Niner Foodsite</title>
   <link rel="icon" type="image/png" href="/images/backg.png" />
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <body>

    <% include partials/header%>

    <% include partials/user-navigation%>

    <div class="horiz">
   <% include partials/site-navigation.ejs %>
   <div class="vertic content">

    <h8>Please load the  data in the database</h8> </div>
     </div>
     <% include partials/footer.ejs %>

  </body>
</html>



<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Niner Foodsite</title>
   <link rel="icon" type="image/png" href="/images/backg.png" />
   <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>oops!!</h1>
    <h2>NO DATA FOUND!!</h2>
    <h2>Please load data in the database</h2>
  </body>
</html>
